.wrapper{
    

    &__main{
        background-color: white;
        margin: 2.5rem 1.5rem 0 1.5rem;
        position: relative;
        height: 20rem;

        @media only screen and (max-width: $bp-smallest){
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
}

.attribution{
    font-size: 11px;
    text-align: center;
    margin-top: .5rem;

    a{
        color: hsl(228, 45%, 44%); 
        text-decoration: none;

        &:hover{
            color: var(--dark-blue);
        }
    }
}

